/* CSS à appliquer sur le cadre (outline) d’une balise input en cours de saisie (focus) valide (valid) */
input:focus:valid {
outline: 2px lime solid
}
/* CSS à appliquer sur le cadre (outline) d’une balise input en cours de saisie (focus) non valide (invalid) */
input:focus:invalid {
outline: 2px red solid
}
/* CSS à appliquer sur le cadre (outline) d’une balise input dont la saisie est obligatoire (required) */
input:required {
outline: 2px blue solid
}
/* CSS à appliquer sur le cadre (outline) d’une balise input dont la saisie n’est pas obligatoire (optional) */
input:optional {
outline: 2px yellow solid
}